/* font-family: 'Rubik', sans-serif; */
*{
  box-sizing: border-box;
}

html{
  height: 100%;
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: "Rubik","Arial", sans-serif;
  color: #4a4b4c;
}

img{
  /* width: 100%; */
  height: auto;
}

/* OUTLINE STYLES */
*:focus{
  outline: 2px dotted #7296EC;
  outline-offset: 2px;
}

.button{
  display: inline-block;
  font-size: 16px;
  border: 0;
  font-weight: 500;
  padding: 13px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

/* CONTAINER */
.container{
  width: 100%;
  min-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */
.site-header {
  
}

/* SITE-HEADER-TOP */
.site-header-top {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
}
.site-header-top-container {
  display: flex;
  align-items: center;
}

.site-header-logo {
  display: flex;
  margin-right: 35px;
}

.site-header-logo:hover{
  opacity: 0.8;
}
.site-header-logo:active{
  opacity: 0.6;
}

/* CURRENCY-RATE */
.currency-rates {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-right: auto;
}

.currency-rates-type {
  color: #2959CE;
}

.currency-rate-item:not(:last-child){
  margin-right: 25px;
}

/* GLOBAL-SEARCH-FORM */
.global-search-form {
  margin-right: 25px;
}
.global-search-form-input{
  font-size: 14px;
  line-height: normal;
  border: 0;
  padding-top: 15px;
  padding-bottom: 13px;
  border-radius: 60px;
  padding-right: 20px;
  padding-left: 40px;
}

/* LANG-TOGGLE  */
.lang-toggle {
  display: flex;
  padding: 3px;
  margin-right: 25px;
  border-radius: 39px;
  background-color: #DCE6FF;
}
.lang-toggle-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
  line-height: 30px;
  color: #A6A6A6;
  text-align: center;
  text-decoration: none;
}

.lang-toggle-link-active{
  background-color: #fff;
  color: #000;
}

.button-primary {
  background-color: #7296EC;
  color: #fff;
  line-height: normal;
}

.button-primary:hover{
  opacity: 0.8;
}

.button-primary:active{
  opacity: 0.6;
}

/* SITENAV */
.sitenav {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 12px;
  padding-top: 12px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
  line-height: normal;
}
.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}
.sitenav-item {
  margin-top: 4px;
  margin-bottom: 4px;
}
.sitenav-item:not(:last-child) {
  margin-right: 35px;
}
.sitenav-link {
  display: block;
  text-decoration: none;
  color: #7f7f7f;
  border: 0px;
  border-radius: 3px;
}

.sitenav-link:hover{
  color: #7296EC;
}

.sitenav-link:active{
  opacity: 0.6;
}


/* SITE-HEADER-BANNER */
.site-header-banner-link{
  display: flex;
}


/* MAIN CONTENT */
.main-content{
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 100px;
}


/* NEWS_GRID */
.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}
.news-grid-item {
  width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;
  
}
.article-card {
  border-radius: 15px;
  background-color: #f6f6f6;
  padding: 20px 17px 15px;
  display: flex;
  flex-direction: column;
}
.article-card-title {
  margin-top: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}
.article-card-link {
  color: #000;
  text-decoration: none;
  
  display: inline-block;
}

.article-card-link:hover{
  color: #7296EC;
}

.article-card-link:active{
  opacity: 0.6;
}
.article-text {
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 15px;
}
.article-card-img {
  width: 360px;
  height: 165px;
  display: block;
  margin-top: auto;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 10px;
}
.article-card-footer {
  display: flex;
  align-items: center;
}
.article-card-source-icon {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  margin-right: 10px;
}
.article-card-soursce-time {
  font-size: 12px;
  line-height: normal;
  color: #5E5F61;
  font-weight: 400;
}


/* NOTIFICATION-CTA */
.notification-cta {
  padding: 25px 70px 25px 25px;
  margin: 60px 75px;
  background-color: #ffd7ba;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notifivation-cta-text {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.button-orange {
  background-color: #F78B3B;
  border-radius: 10px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  padding: 13px 30px;
}


/* GLOBAL_NEWS */

.global-news-heading {
  font-size: 24px;
  line-height: normal;
  color: #000;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
}
.news-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.news-list-item{
  margin-bottom: 10px;
}

.article-card-horizontal {
  background-color: #f6f6f6;
  border-radius: 15px;
  display: flex;
  align-items: flex-start;
  padding: 20px; 
}
.article-card-horizontal-img {
  width: 210px;
  height: 165px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
}
.article-card-horizontal-content {
  flex-grow: 1;
}
.article-card-horizontal-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
.article-card-horizontal-link {
  display: inline-block;
  color:#000;
  text-decoration: none;
}
.article-card-horizontal-link:hover{
  color: #7296EC;
}
.article-card-horizontal-link:active{
  opacity: 0.6;
}
.article-card-horizontal-text {
  /* font-size: 22px;
  margin-top: 0;
  line-height: 22px;
  margin-bottom: 15px; */
  color: #4A4B4C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.article-card-footer {
  display: flex;
  align-items: center;
}
.article-card-source-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.article-card-source {
  color: #5E5F61;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* BUTTON_GREY */
.button-grey{
  display: block;
  width: 100%;
  padding: 17px;
}

/* SIDEBAR */
.layout-sidebar{
  width: 393px;
}

/* SIDEBAR-NEWS-CARD */
.sidebar-news-card {
  padding: 20px;
  background-color: #f6f6f6;
  color: #000; 
  border-radius: 15px;
}
.sidebar-news-card-heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.sidebar-news-card-list {
  padding: 0;
  margin: 0;
  list-style: none;

}
.sidebar-news-card-item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.sidebar-news-card-item:first-child{
  padding-top: 0;
}
.sidebar-news-card-item:last-child{
  padding-bottom: 0;
}
.sidebar-news-card-item:not(:last-child){
  border-bottom: 1px solid #d2d2d2;
}
.sidebar-news-card-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}
.sidebar-news-card-link {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.sidebar-news-card-link:hover{
  color: #7296EC;
}
.sidebar-news-card-link:active{
  opacity: 0.6;
}
.article-card-soursce-time {
  font-size: 13px;
  line-height: normal;
  color:#5E5F61;
}


.layout-2-1{
  display: flex;
  align-items: flex-start;
}

.layout-2-1-main{
  width: 797px;
  margin-right: 10px;
}

.layout-2-1-sidebar{
  width: 393px;
  margin-top: 49px;
}

.layout-2-1-sidebar-item:not(:last-child){
  margin-bottom: 10px;
}

/* SIDEBAR-AD */
.sidebar-ad-link{
  display: flex;
}

.sidebar-ad-img{
  border-radius: 15px;
  width: 393px;
  height: 338px;
  object-fit: cover;
}